.contains_main_components {
    background-color: #EEEEEE;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main_menu_notifications_content {
    background-color: #0C0400;
    height: 70px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}

.content_icon_menu {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_icon_menu img {
    height: 25px;
}

.user_notification_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notificantion_simbol {
    position: absolute;
    margin-left: 15px;
    background-color: #FF5900;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    z-index: 100;
}

.notification_icon {
    margin-right: 25px;
    height: 100%;
}

.notification_icon img {
    height: 30px;
}

.component_description_icon_menu {
    display: flex;
}

.arrow_down_context_menu_user {
    height: 15px;
    width: 15px;
    margin-left: 15px;
}

.user_menu {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.user_menu img{
    height: 40px;
}

.name_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.name_description span {
    font-weight: 700;
}

.name_description p {
    font-weight: 500;
    color: #8C8C8C;
}
.box_aside_main {
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main_navigate_left {
    width: 70px;
    margin-right: 5px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DBD7D7;

}

.contains_main {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DBD7D7;
    width: 100%;
}

.disabled {
    display: none;
}
